<header>
  <nav>
    <a class="branding" routerLink="/"
      ><img
        id="crusader-logo"
        alt="Crusader Games Logo"
        src="assets/images/crusaderGamesLogo.png"
    /></a>

    <button id="dropdown-btn" [ngClass]="buttonClass" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </button>
    <div id="dropdown-content" [ngClass]="dropdownClass">
      <a
        *ngFor="let route of routes"
        routerLink="{{ route.path }}"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="nav-link"
        >{{ route.name }}</a
      >
    </div>
  </nav>
</header>
