header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #2574ce;
  width: 100%;
}

#crusader-logo {
  width: 5rem;
}

nav {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 5rem;
  position: relative;
  width: 100%;
}

.branding {
  margin-right: auto;
}

.nav-link {
  background-color: inherit;
  color: #fff;
  border-radius: 4px;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
}

.nav-link:hover {
  background-color: #1a5496;
}

#dropdown-btn {
  margin-left: auto;
}

#dropdown-content {
  display: none;
}

#dropdown-content.show {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
}

@media screen and (max-width: 600px) {
  #dropdown-content.show {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 100vw;
  }
}
