<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar">
  <div class="container">
    <a class="nav-link" routerLink="/"><img class="nav-item" alt="Crusdaer Games Logo"
        src="assets/images/crusaderGamesLogo.png"></a>

    <a class="nav-link" routerLink="/home">Home</a>
    <a class="nav-link" routerLink="/typescript">Typescript</a>
    <a class="nav-link" routerLink="/router">Router</a>
    <a class="nav-link" routerLink="/component">Components</a>
    <a class="nav-link" routerLink="/resolver">Resolver</a>
    <a class="nav-link" routerLink="/observables">Observables</a>
    <a class="nav-link" routerLink="/earthquake">Earthquake</a>
    <a class="nav-link" routerLink="/angular">Angular</a>
  </div>
</nav>