<header>
  <nav class="navbar">
    <a class="branding" routerLink="/"
      ><img
        id="crusader-logo"
        alt="Crusader Games Logo"
        src="assets/images/crusaderGamesLogo.png"
    /></a>

    <div class="dropdown">
      <button (click)="toggleMenu()">
        <i class="fas fa-bars"></i>
      </button>
      <div id="dropdown-content" [ngClass]="dropdownClass">
        <a
          *ngFor="let route of routes"
          routerLink="{{ route.path }}"
          class="nav-link"
          >{{ route.name }}</a
        >
      </div>
    </div>
  </nav>
</header>
